body{
    margin: 0;
}
nav{
    height: 28px;
}

button{
    border-style: none;
    height: 100%;;
    font-weight: bold;
    margin-right: 5px;
    
}

canvas{
    padding: 0;
    border: solid;
}